.Blurb {
    padding: 50px 5px 5px;
    background-color: #EFDECD;
    text-align: center;
    width: 50vw;
    font-size: medium;
    font-family:
        "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    /* margin: 0 auto; */
    border-radius: 15px;
}
