
.header {
    background-color:#463B35;
    text-align: center;
    color:#5C6D5E;
    flex-direction: row;
    justify-content: space-evenly;
    display:flex;
    height:40px;
    padding:5px;

}
.Icon {
color: black;
font-size: 36px;

}
.Icon:hover{
    color:#118c4f;
}
