.mainApp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}
.blurbImgWrapper{
    height:600px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
width:600px;
border-radius:20px;
}